@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-primary: "Plus Jakarta Sans", sans-serif;
  --font-secondary: "Inter", sans-serif;

  /* according to figma, this is "Development Stack" gradient color */
  --gradient-primary-brand: linear-gradient(
    to right,
    #ff5722 0%,
    #d81b7e 50%,
    #7c3aed 100%
  );

  /* according to figma, this is "Explore Technologies" button gradient color  */
  /* --gradient-primary-brand: linear-gradient(to right, #F97316, #EC4899);  */

  /* according to figma, this is "Technologies" gradient color */
  /* --gradient-primary-brand: linear-gradient(to right, #ec4899, #8b5cf6); */

  --color-secondary-color: #db2777;
}
